name: CI
on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        haxe-version: [4.2.5, 4.3.7]
        target: [interp, neko, hl, js, cpp, jvm, python, lua, php, cs, java, cppia]
        include:
          - target: interp
            flag: --interp
            output: ""
          - target: neko
            flag: --neko
            output: bin/neko/tests.n
          - target: hl
            flag: --hl
            output: bin/hl/tests.hl
          - target: js
            flag: --js
            output: bin/js/tests.js
          - target: cpp
            flag: --cpp
            output: bin/cpp
          - target: jvm
            flag: --jvm
            output: bin/jvm/tests.jar
          - target: python
            flag: --python
            output: bin/python/tests.py
          - target: lua
            flag: --lua
            output: bin/lua/tests.lua
          - target: php
            flag: --php
            output: bin/php
          - target: cs
            flag: --cs
            output: bin/cs
          - target: java
            flag: --java
            output: bin/java
          - target: cppia
            flag: --cppia
            output: bin/cppia/tests.cppia
    steps:
      - uses: actions/checkout@v4
      - name: Setup Haxe (${{ matrix.haxe-version }})
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: ${{ matrix.haxe-version }}

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV
      - name: Install & Set-up Vision
        run: |
          haxelib dev vision $GITHUB_WORKSPACE
          haxelib install utest --quiet
          haxelib install format --quiet
          haxelib install hxcpp --quiet
          haxelib install hxjava --quiet
          haxelib install hxcs --quiet
      - name: Run utest (${{ matrix.target }})
        run: |
          mkdir -p bin
          CMD="haxe --class-path tests/generated/src --main Main --library vision --library format --library utest -debug"
          if [ "${{ matrix.output }}" != "" ]; then
            CMD="$CMD ${{ matrix.flag }} ${{ matrix.output }}"
          else
            CMD="$CMD ${{ matrix.flag }}"
          fi
          echo "$CMD"
          $CMD
